@import '../abstracts/mixinsfunc';
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100vw;
    height: 500px;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(58, 25, 51, 1) 35%, rgba(24, 20, 53, 1) 100%);
    color: #fff;
    
    @include media(){
        grid-template-columns: 1fr;
        display: block;
        height: auto;
    }

    img {
        width: 100%;
        height: 100%;
        grid-column: 1/5;
    }

    p {
        margin-bottom: 1em;
    }
}

.about-info{
    grid-column: 5/10;
    padding: 3em;

    h2 {

        font-size: 2.5em;
    }   
}

.divider{
    height: 4px;
    width: 60px;
    background-color: #3F5EFB;
    margin-top: 5px;
    margin-bottom: 2em;
}