.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: #2b3050;
}

.footer-content h2{
    font-size: 3em;
    color: #fff;
}

.footer-content h5,
.social-network i{
    color: #fff;
    font-size: 1.5em;
}

.social-network{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}


.social-network a{
    text-decoration: none;
    color: #191c32;
}

.social-network a:hover{
    color: #fff;
    
}

.footer h5{
    padding-top: 1em;
    color: #fff;
    font-size: 1em;
}

