.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(58, 25, 51, 1) 35%, rgba(24, 20, 53, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-content h2{
    font-size: 3em;
    color: #fff;
    @include media(){
        font-size: 1.5em;
    }
}

.footer-content h5,
.social-network i{
    color: #fff;
    font-size: 1.5em;
    @include media(){
        font-size: 0.8em;
    }
}

.social-network{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;

    a:hover {
        transition: all 1.2s ease;
        transform: scale(1.2);
    }
}






.footer h5{
    padding-top: 1em;
    color: #fff;
    font-size: 1em;
}

