.main{
    margin: 0 auto;
    width: 80vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

    @include media(){
        grid-template-columns: 1fr;
        width: 100vw;
        height: auto;
        
    }
    
}



h1{
    font-size: 3em;
    color: #fff;
    @include media(){
        @include flexbox(center,center,column); 
    }
        
    
}

.name{
    @include media(){
        margin-bottom: 5px;
    }
}

.info-content .welcome {
    background: #ad5389;
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    background: linear-gradient(to right, #3c1053, #ad5389);
    width: 280px;
    height: 40px;
    border: 1px solid #fff;
    padding: 10px;

}

.info-content{
    @include media(){
        @include flexbox(center,center,column);
        
    }
}


.btn {
    margin-top: 80px;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #fff;
    padding: 10px;
    background: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: 1s;
}
.btn:hover{
    color: #fff;
    transform: scale(1.2);
    box-shadow: 1px 3px 11px -5px rgba(0, 0, 0, 0.69);
    transition: 1s;
}

.main img{
    width: 450px;
    height: 530px;
    animation: move 3s ease alternate infinite;
     @include media(){
        margin: 3rem auto;
        
        width: 250px;
        height: 300px;
        object-fit: cover;
    }
}

@keyframes move {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(20px);
    }
}

