.portfolio{
    width: 100vw;
    background-image: url('../../img/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 8rem;
    color: #fff;
    @include media(){
        @include flexbox(center,center,column);
    }
}

.portfolio-headings{
    width: 100%;
    padding: 5em;
    
}

.portfolio-headings h2{
    font-size: 2.5em;
    @include media(){
        @include flexbox(center,center,column)
    }
}

.portfolio .container{
    width: 100%;
    height: 100%;
    position: relative;

    @include media(){
        display: grid;
        columns: 2;
    }
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    position: relative;
    margin: 20px 20px;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card_title{
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 40px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(38, 22, 52, 0.8);
    opacity: 0;
    transition: .5s;
    
    a {
        color: #fff;
        font-size: 1.7rem;
    }

    h2 {
        color: #fff;
        font-size: 1.2rem;
    }

}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.card:hover .card_title {
    opacity: 1;
}
