.portfolio{
    width: 100vw;
    background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
    color: #fff;
    @include media(){
        @include flexbox(center,center,column)
    }
}

.portfolio-headings{
    width: 100%;
    padding: 5em;
    
}

.portfolio-headings h2{
    font-size: 2.5em;
}

.portfolio .container{
    width: 100%;
    position: relative;
}

.container__cards {
    width: 90%;
    overflow: hidden;
}

.carousel__anterior, .carousel__siguiente {
	position: absolute;
	display: block;
    font-size: 50px;
	width: 50px;
	height: 50px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: aqua;
	opacity: 20%;
}

.carousel__anterior:hover, 
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: 10px;
}

.carousel__siguiente {
	right: 10px;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: aqua;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

.card{
    width: 300px;
    background-color: #2b3050;
    color: #fff;
    margin: 1em;

    

    &:last-child{
        margin-bottom: 30px;
    }
}

.card__img1{
    width: 100%;
    height: 150px;
    background-image: url(../img/GamerSCerberus.jpg);
    background-size: cover;
}

.card__img2{
    width: 100%;
    height: 150px;
    background-image: url(../img/ApiPeliculas.jpg);
    background-size: cover;
}

.card__img3{
    width: 100%;
    height: 150px;
    background-image: url(../img/chatbot.jpg);
    background-size: cover;
}

.card__img4{
    width: 100%;
    height: 150px;
    background-image: url(../img/calculadora.jpg);
    background-size: cover;
}

.card__img5{
    width: 100%;
    height: 150px;
    background-image: url(../img/app-tareas.jpg);
    background-size: cover;
}

.card__img6{
    width: 100%;
    height: 150px;
    background-image: url(../img/tic-tac-toe.jpg);
    background-size: cover;
}

.card__title{
    padding: 20px;
}

.card__projects-links{
    display: flex;
    justify-content: space-evenly;
}

.card__projects-links a{
    color: #fff;
    text-decoration: none;
}

.card__projects-links i {
    font-size: 1.5em;
}

.card .project-details{
    align-self: center;
    margin: 0 auto;
    margin: 1em;
    width: 70%;
}

.card .project-details a{
    text-decoration: none;
    color: #191c32;
    text-transform: uppercase;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-content{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}
